<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="consoleEventLogger" class="com.epam.spring.impl.ConsoleEventLogger"/>

    <!--<bean id="client" name="client mihail" class="com.epam.spring.impl.Client">
        <property name="id" value="1"/>
        <property name="fullName" value="Keiko Mihail"/>
    </bean>-->

    <!--<bean id="client" class="com.epam.spring.impl.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="Keiko Mihail Olegovich"/>
    </bean>-->

    <!-- <bean id="client" class="com.epam.spring.impl.Client">
         <constructor-arg index="1" value="Keiko Mihail"/>
         <constructor-arg index="0" value="1"/>
     </bean>-->

    <!--<bean id="app" class="com.epam.spring.impl.App">
        <property name="client" ref="client"/>
        <property name="eventLogger" ref="consoleEventLogger"/>
    </bean>-->

    <!--<bean id="event" class="com.epam.spring.impl.Event">
        <constructor-arg type="java.lang.Integer" value="1"/>
        <constructor-arg type="java.lang.String" value="Hello 1"/>
        <constructor-arg><bean class="java.util.Date"/></constructor-arg>
    </bean>-->

    <bean id="event" class="com.epam.spring.impl.Event" scope="prototype">
        <property name="id" value="1"/>
        <property name="message" value="Hello 1"/>
        <property name="date">
            <bean class="java.time.LocalDateTime" factory-method="now"/>
        </property>
    </bean>

    <bean id="app" class="com.epam.spring.impl.App">
        <constructor-arg ref="consoleEventLogger"/>
        <constructor-arg ref="client"/>
        <constructor-arg ref="event"/>
    </bean>

</beans>